nav{
    padding: 0px 100px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
ul li a{
    text-decoration:none ;
    color: rgb(85, 83, 83);
    
}
.common-button{
    background-color: #2563EB;
    color: white;
    border: none;
    border-radius: 5px;
}
.banner{
    background-image: url(images/assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner h1{
    color: white;
    font-size:65px;


}
.banner p{
    color: white;
}
.speakers h2{
    text-align: center;
}
.speakers{
    padding: 80px 20px;
    text-align:left;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;

}
.card{
    width:500px;
    border:none;
    border-radius: 10px;
    overflow: hidden;
    background-color: wheat;
    padding: 7px;

}
.card img{
    width: 100%;
    display: block;
   
}
.price{
    text-align:center;
    padding: 80px 20px;

}
.price-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    text-align: left;
    ;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    text-align: left;

}
.price-card{
    width: 300px;
    border: 1px solid;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 20px;
}
.price-card ul{
    width: 300px;
    list-style-type: disc;
    
   
    padding: 30px;
    flex-direction: column;
}
.price-card li::marker{
    margin-bottom: 10px;
    color: #2563EB;


}
.pro-card{
    background-color:#0D1B2A;
    color: white;
    border: none;
    display: inline-block;
}
.contact-us{
    background-color: white;
    color: darkslategray;
    border:1px solid darkslategray;
    padding:8px 20px ;
    height: 30px;
    width:100%;
}
.get-pro{
    background-color:#2563EB;
    color: white;
    border:1px solid #2563EB;
    padding:8px 20px ;
    height: 30px;
    width:100%;
}
.get-standard{
    background-color:white;
    color:#2563EB;
    border:1px solid #2563EB;
    padding:8px 20px ;
    height: 30px;
    width:100%;
}